.row-testimonial{
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.row-testimonial h3{
    color: rgb(0, 183, 255);
}
.furniturecard{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-auto-rows: auto;
 justify-content: center;
 align-items: center;
 gap: 30px;
}